/* Reset */
*{
    box-sizing: border-box;
 padding: 0;
    margin: 0;
}
html{
    overflow-x: hidden !important;
    font-size: 62.5%;
}
body{
    font-family: 'Outfit', sans-serif;
    overflow-x: hidden !important;
    font-weight: 400;
    line-height: 1;
    color: #555;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
/* general*/

.btn{
    display: inline-block;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 20px;
}
.btn-header{
    background-color:#2ad38a;
     color: #fff;    
}













/* navbar  */
.logo-website{
    height: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7rem;
    /*  */
    /* box-shadow: 0 40px 30px 2px rgba(0,0,0,.1);  */
   
}
.main-nav ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    
        
}
.main-nav .nav-button{
    display: flex;
    align-items: center;
}
.links-lists:link,
.links-lists:visited{
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
   gap: 6px;
   transition: all 0.4s;
}


.links-lists:hover,
.links-lists:active{
    color: #2ad38a;
}


.icon-arrow{
    font-size: 1rem;
}
.icon-arrow:hover{
    color: #2ad38a;

}





