/* Reset */
*{
    box-sizing: border-box;
 padding: 0;
    margin: 0;
}
html{
    /* overflow-x: hidden !important; */
    font-size: 62.5%;
}
body{
    font-family: 'Outfit', sans-serif;
    overflow-x: hidden !important;
    font-weight: 400;
    line-height: 1;
    color: #555;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
/* general*/

.btn{
    display: inline-block;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 20px;
    background-color:#2ad38a;
    color: #fff;
}
.btn-header{
       
}

.btn-secondary{
    
}

.center-text{
    text-align: center;
}
strong{
    color: #0b1226;
}








/* navbar  */
.logo-website{
    height: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;
    /*  */
     box-shadow: 0 5px 10px 2px rgba(0,0,0,.1); 
   /* position */
   
}
.main-nav ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    
        
}
.main-nav .nav-button{
    display: flex;
    align-items: center;
}
.links-lists:link,
.links-lists:visited{
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
   gap: 6px;
   transition: all 0.4s;
}


.links-lists:hover,
.links-lists:active{
    color: #2ad38a;
}


.icon-arrow{
    font-size: 1rem;
}
.icon-arrow:hover{
    color: #2ad38a;

}

/* section hero container */
.section-hero{
  padding: 6rem 0;
}
.icon-text{
    height: 20px;
    
}
.container-text{
    display: flex;
    gap:10px;
    
}
.hero-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 1000px;
    margin: 0 auto;
    gap: 20px;
}
.img-hero-section{
    width: 100%;
}
.heading-primary{
    font-size: 3.7rem;
    font-weight: 700;
    color: #0b1226;
    line-height: 1.3;
    margin-bottom: 30px;
    
}

.btn-secondary{
   margin-top: 3rem;
    display: inline-block;
}
.text-description-hero{
    font-size: 1.3rem;
    line-height: 1.6;
  color: #0b1226;
    
}
.inner-text{
    color: #b0b0b0;
    font-size: 1.1rem;
    margin-top: 2rem;
    line-height: 1.2;
}


/* quoate section */
.quoat-section{
    padding: 3rem 0;
}
.quoat-icon{
    color:#868e96;
    transform: scale(4);
    margin-bottom: 1rem;
}
.text-quate-message{
    margin: 2rem 0;
    font-size: 1.6rem;
    color: #0b1226;
    line-height: 1.4;
    font-style: italic;
    width: 500px;
    margin: 0 auto;
}
.images-brands{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   
}
.brands-img{
    height: 30px;
}
.brands{
    max-width: 800px;
    margin: 2rem auto;
    padding-bottom: 2.4rem;
}
.title-brands{
    font-size: 1.5rem;
    color: #0b1226;
    font-weight: 600;
}

/* section comments */
.text-box{
    background-color: #F7FAFC;
    padding: 6rem 0;
}
.texts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}
.text-comments{
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #0b1226;
    font-weight: 400;
}

/* section feeling */
.section-feeling {
padding: 7rem 0;
}

.feeling-text{
    width: 800px;
    margin: 0 auto;
   
}
.comments-text{
    display: flex;
    gap: 30px;
    align-items: center;
}
.icon-check{
    color: #fff;
    background-color: #77b255;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 4px;
}
.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.heading-title{
    color: #0b1226;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    font-weight: 700;
}
/* looking for section */
.text{
    font-size: 1.4rem;
    color: #0b1226;
    line-height: 1.6;
    width: 300px;
   
}
.img-center{
    display: block;
    width: 30%;
    margin: 0 auto;
}
.title-section{
    font-size: 2.5rem;
    font-weight: 700;
    color: #0b1226;
    margin-bottom: 5rem;
}

.section-looking-for{
    padding: 4rem 0;
}

.fa-star{
    color: #FFAC33;
    transform: scale(1.3);
}
.content{
    max-width: 700px;
    margin: 0 auto;
}
.section-information-list{
    padding: 2rem 0;
}


.heading-secondary{
    font-size: 2.5rem;
    width: 600px;
    margin: 0 auto;
    color: #0b1226;

}
.section-quoate-commnets{
    padding: 3.5rem 0;
}
.boxes-quoat{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.message-box{
    width: 800px;
    text-align: center;
    font-style: italic;
    color: #0b1226;
    font-size: 1.4rem;
    line-height: 1.4;
}
.strong-text{
font-size: 1.5rem;
}
.quoat-icon-comment{
    transform: scale(2);
    color:#868e96;
    margin-top: 5rem;
}


.section-box{
    background-color: #0b1226;
    height: 70vh;
   margin: 4rem 0;
}
.title-section-text{
    color: #fff;
    font-size:2.5rem;
}
.link-text{
    color: #fff;
    font-size: 1.5rem;
}
.link{
    color: #2ad38a;
    text-decoration: underline;
}
.description-text{
    color: #b2b3b8;
    font-weight: 600;
    line-height: 1.4;
    width: 440px;
    font-size: 1rem;
    
}
.container-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 70vh;
    padding: 7rem 0;
}
.container-box .btn-secondary {
    margin: 2rem 0;
}
