/* Reset */
*{
    box-sizing: border-box;
 padding: 0;
    margin: 0;
}
html{
    /* overflow-x: hidden !important; */
    font-size: 62.5%;
}
body{
    font-family: 'Outfit', sans-serif;
    overflow-x: hidden !important;
    font-weight: 400;
    line-height: 1;
    color: #555;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
/* general*/

.btn{
    display: inline-block;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 20px;
    background-color:#2ad38a;
    color: #fff;
}
.btn-header{
       
}

.btn-secondary{
    
}

.center-text{
    text-align: center;
}









/* navbar  */
.logo-website{
    height: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;
    /*  */
     box-shadow: 0 5px 10px 2px rgba(0,0,0,.1); 
   /* position */
   
}
.main-nav ul{
    display: flex;
    align-items: center;
    gap: 3rem;
    
        
}
.main-nav .nav-button{
    display: flex;
    align-items: center;
}
.links-lists:link,
.links-lists:visited{
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
   gap: 6px;
   transition: all 0.4s;
}


.links-lists:hover,
.links-lists:active{
    color: #2ad38a;
}


.icon-arrow{
    font-size: 1rem;
}
.icon-arrow:hover{
    color: #2ad38a;

}

/* section hero container */
.section-hero{
  padding: 6rem 0;
}
.icon-text{
    height: 20px;
    
}
.container-text{
    display: flex;
    gap:10px;
    
}
.hero-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 1000px;
    margin: 0 auto;
    gap: 20px;
}
.img-hero-section{
    width: 100%;
}
.heading-primary{
    font-size: 3.7rem;
    font-weight: 700;
    color: #0b1226;
    line-height: 1.3;
    margin-bottom: 30px;
    
}

.btn-secondary{
   margin-top: 3rem;
    display: inline-block;
}
.text-description-hero{
    font-size: 1.3rem;
    line-height: 1.6;
  color: #0b1226;
    
}
.inner-text{
    color: #b0b0b0;
    font-size: 1.1rem;
    margin-top: 2rem;
    line-height: 1.2;
}


/* quoate section */
.quoat-section{
    padding: 3rem 0;
}
.quoat-icon{
    color:#868e96;
    transform: scale(4);
    margin-bottom: 1rem;
}
.text-quate-message{
    margin: 2rem 0;
    font-size: 1.6rem;
    color: #0b1226;
    line-height: 1.4;
    font-style: italic;
    width: 500px;
    margin: 0 auto;
}
.images-brands{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   
}
.brands-img{
    height: 30px;
}
.brands{
    max-width: 800px;
    margin: 2rem auto;
}
.title-brands{
    font-size: 1.5rem;
    color: #0b1226;
    font-weight: 600;
}