/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  /* overflow-x: hidden !important; */
  font-size: 62.5%;
}
body {
  font-family: "Outfit", sans-serif;
  overflow-x: hidden !important;
  font-weight: 400;
  line-height: 1;
  color: #555;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
/* general*/

.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #2ad38a;
  color: #fff;
}
.btn-header {
}

.btn-secondary {
}

.center-text {
  text-align: center;
}
strong {
  color: #0b1226;
}

/* navbar  */
.logo-website {
  height: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6rem;
  /*  */
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  /* position */
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  background-color: #fff;
}
.main-nav ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.main-nav .nav-button {
  display: flex;
  align-items: center;
}
.links-lists:link,
.links-lists:visited {
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.4s;
}

.links-lists:hover,
.links-lists:active {
  color: #2ad38a;
}

.icon-arrow {
  font-size: 1rem;
}
.icon-arrow:hover {
  color: #2ad38a;
}

/* section hero container */
.section-hero {
  padding: 15rem 0 3rem 0;
}
.icon-text {
  height: 20px;
}
.container-text {
  display: flex;
  gap: 10px;
}
.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
  margin: 0 auto;
  gap: 20px;
}
.img-hero-section {
  width: 100%;
}
.heading-primary {
  font-size: 3.7rem;
  font-weight: 700;
  color: #0b1226;
  line-height: 1.3;
  margin-bottom: 30px;
}

.btn-secondary {
  margin-top: 3rem;
  display: inline-block;
}
.text-description-hero {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #0b1226;
}
.inner-text {
  color: #b0b0b0;
  font-size: 1.1rem;
  margin-top: 2rem;
  line-height: 1.2;
}

/* quoate section */
.quoat-section {
  padding: 3rem 0;
}
.quoat-icon {
  color: #868e96;
  transform: scale(4);
  margin-bottom: 1rem;
}
.text-quate-message {
  margin: 2rem 0;
  font-size: 1.6rem;
  color: #0b1226;
  line-height: 1.4;
  font-style: italic;
  width: 500px;
  margin: 0 auto;
}
.images-brands {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.brands-img {
  height: 30px;
}
.brands {
  max-width: 800px;
  margin: 2rem auto;
  padding-bottom: 2.4rem;
}
.title-brands {
  font-size: 1.5rem;
  color: #0b1226;
  font-weight: 600;
}

/* section comments */
.text-box {
  background-color: #f7fafc;
  padding: 6rem 0;
}
.texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}
.text-comments {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #0b1226;
  font-weight: 400;
}

/* section feeling */
.section-feeling {
  padding: 7rem 0;
}

.feeling-text {
  width: 800px;
  margin: 0 auto;
}
.comments-text {
  display: flex;
  gap: 30px;
  align-items: center;
}
.icon-check {
  color: #fff;
  background-color: #77b255;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
}
.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.heading-title {
  color: #0b1226;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  font-weight: 700;
}
/* looking for section */
.text {
  font-size: 1.4rem;
  color: #0b1226;
  line-height: 1.6;
  width: 300px;
}
.img-center {
  display: block;
  width: 30%;
  margin: 0 auto;
}
.title-section {
  font-size: 2.5rem;
  font-weight: 700;
  color: #0b1226;
  margin-bottom: 5rem;
}

.section-looking-for {
  padding: 4rem 0;
}

.fa-star {
  color: #ffac33;
  transform: scale(1.3);
}
.content {
  max-width: 700px;
  margin: 0 auto;
}
.section-information-list {
  padding: 2rem 0;
}

.heading-secondary {
  font-size: 2.5rem;
  width: 600px;
  margin: 0 auto;
  color: #0b1226;
}
.section-quoate-commnets {
  padding: 3.5rem 0;
}
.boxes-quoat {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.message-box {
  width: 800px;
  text-align: center;
  font-style: italic;
  color: #0b1226;
  font-size: 1.4rem;
  line-height: 1.4;
}
.strong-text {
  font-size: 1.5rem;
}
.quoat-icon-comment {
  transform: scale(2);
  color: #868e96;
  margin-top: 5rem;
}

.section-box {
  background-color: #0b1226;
  height: 70vh;
  margin: 4rem 0;
}
.title-section-text {
  color: #fff;
  font-size: 2.5rem;
}
.link-text {
  color: #fff;
  font-size: 1.5rem;
}
.link {
  color: #2ad38a;
  text-decoration: underline;
}
.description-text {
  color: #b2b3b8;
  font-weight: 600;
  line-height: 1.4;
  width: 440px;
  font-size: 1rem;
}
.container-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 70vh;
  padding: 7rem 0;
}
.container-box .btn-secondary {
  margin: 2rem 0;
}
.emoji-section {
  height: 4rem;
}
.text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.title-text {
  color: #0b1226;
  font-size: 2.5rem;
}

/* section grid */
.boxes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-count: 4;
  gap: 15px;
  max-width: 900px;
  margin: 30px auto;
}
.comment-section-people {
  padding: 4rem 0 6rem 0;
}

.people-img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 15px 0;
}
.boxes-container .box-section {
  border: 1px solid #b0b0b0;
  padding: 5px 27px;
  border-radius: 11px;
}

.discrion-box-section {
  font-size: 1.3rem;
  margin: 1rem 0;
  line-height: 1.5;
}

.title-name {
  font-weight: 600;
  font-size: 1.3rem;
}
.information-nmae {
  font-size: 1rem;
  margin-bottom: 30px;
}

/* pricing-plans */
.pricining-plans__title {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.pricing-plans__emoji {
  height: 40px;
}
.pricing-plans__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
  margin: 10px auto;
  gap: 20px;
}

/* first box of pricing plan */
.pricing-plans {
  padding: 2rem 0 3rem 0;
}
.pricing-plan {
  border: 4px solid #0b1226;
  border-radius: 11px;
}
.plan__title {
  font-size: 1.5rem;
  color: #fff;
  background-color: #0b1226;
  text-align: center;
  padding: 1.6rem 0;
  font-weight: 500;
}
.plan__list-info {
  padding: 25px 39px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: #f8f8f8;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}
.plan__price {
  font-size: 5rem;
  color: #0b1226;
  font-weight: 700;
  display: flex;
}
.plan__price span {
  font-size: 1.9rem;
  font-weight: 600;
}
.plan-list {
  color: #3ed795;
  font-weight: 600;
  width: 300px;
  margin: 15px auto;
  line-height: 1.7;
  text-align: center;
  font-size: 1.1rem;
  /* flex item */
  display: flex;
  justify-content: center;
}
.check-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.plan_time {
  font-size: 1.6rem;
  color: #0b1226;
  margin-top: 12px;
}
.plan__discription {
  color: #b8b8b8;
  margin-top: 20px;
  font-size: 1.1rem;
}
.plan-second {
  position: relative;
}
.plan-second::after {
  content: "Save 17% vs Monthly Plan";
  cursor: pointer;
  background-color: #fff3c1;
  border-radius: 20px;
  padding: 0.6rem 1.9rem;
  border: 1px solid #fed75f;
  color: #ff9008;
  font-weight: 700;
  font-size: 1.3rem;
  position: absolute;
  top: -25px;
  right: 20px;
}
/* section timing */
.section-time {
  padding: 3rem 0 5rem 0;
}
.container-time {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.container-time__title {
  font-size: 1.5rem;
  color: #0b1226;
}
.container-time__title span {
  color: #2ad38a;
  text-decoration: underline;
}
.time__discription {
  font-size: 1.1rem;
  width: 500px;
  margin: 20px auto 50px auto;
  background-color: #f7fafc;
  padding: 1rem;
  border-radius: 11px;
  color: #0b1226;
  line-height: 1.4;
}
.container-time__title-coundown {
  color: #0b1226;
  font-size: 1.6rem;
  text-align: center;
}
.countdown {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: center;
  /* discription li */
  gap: 10px;
  color: #0b1226;
  font-size: 1.3rem;
}
.countdown span {
  background-color: #0b1226;
  color: #fff;
  font-size: 4.5rem;
  font-weight: 600;
  padding: 1rem 1rem;
  border-radius: 11px;
}
.container-time__countdown ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
